#########################################################################################################################################
#                                                                                                                                       #
#   to configure the app, create a .env file in the root directory of the project and set any of the following environment variables:   #
#                                                                                                                                       #
#########################################################################################################################################

# determines whether the app runs in development or production mode
# the app will run in development mode unless either 'VITE_ENV' is explicitly set to 'production'
# default: development mode
VITE_ENV=development

# the port the elysia http server runs on (make sure to keep consistent with Dockerfile and fly.toml, if applicable)
# default: 3000
VITE_PORT=3000

# must match the secret api key of the discit-api - used to authenticate privileged requests
VITE_API_KEY=********
