* {
	box-sizing: border-box;
}

html,
body,
#root {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	user-select: none;
}

a:link,
a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.input {
	margin: 0.5rem;
	width: 20rem;
}

.overlay {
	position: fixed;
	left: -100%;
	top: -100%;
	width: 300%;
	height: 300%;
	transition: 0.5s;
}

.overlay-visible {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 50;
	pointer-events: all;
}

.overlay-hidden {
	background-color: rgba(0, 0, 0, 0);
	z-index: 20;
	pointer-events: none;
}

.header {
	margin-top: 0.25rem;
	margin: 1rem;
	font-size: 3.5rem;
	font-weight: 600;
	color: black;
	text-align: center;
	z-index: 300;
}

.logo {
	position: absolute;
	-ms-transform: translate(-45%, -20%);
	-webkit-transform: translate(-45%, -20%);
	transform: translate(-45%, -20%);
	width: 8rem;
	height: 8rem;
}

.main {
	overflow: hidden;
	justify-content: center;
	z-index: 10;
	animation: fade-in ease 0.5s;
	transition: 0.5s;
}

.disc-detail {
	position: fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100vmin;
	height: 100vmin;
	max-width: 45rem;
	max-height: 45rem;
	border-radius: 50%;
	z-index: 100;
	transition: 0.3s;
	justify-content: center;
	align-items: center;
	user-select: text;
}

.disc-detail-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	display: grid;
	place-items: center;
	justify-content: center;
	width: 55%;
	max-width: 400px;
	height: 85%;
}

.disc-detail-name {
	font-size: min(8vmin, 3rem);
	font-weight: 600;
	color: black;
	font-weight: 700;
}

.disc-detail-fields {
	font-weight: 600;
	font-size: min(4vmin, 1.5rem);
}

.disc-detail-img img {
	max-width: 400px;
	max-height: 340px;
	border-radius: 10px;
	width: 100%;
}

.disc-grid-count {
	font-size: 1.25rem;
	font-weight: 600;
	width: fit-content;
	margin: 1rem auto;
}

.spacer {
	padding-left: 0.35em;
}

.disc-grid-count-inner {
	display: flex;
	flex-direction: row;
}

.disc-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 12rem);
	justify-content: center;
}

.disc-box {
	width: 12rem;
	height: 12rem;
	display: grid;
	place-items: center;
}

.disc {
	width: 92%;
	height: 92%;
	border-radius: 50%;
	font-weight: 500;
	text-align: center;
	display: grid;
	place-items: center;
	animation: spin-in ease-out 0.5s;
	z-index: 10;
	transition: 0.25s;
	justify-content: center;
	align-items: center;
}

.disc:hover {
	cursor: pointer;
	width: 98%;
	height: 98%;
	transition: 0.25s;
}

.disc:hover .disc-inner-circle {
	width: 8.5rem;
	height: 8.5rem;
	transition: 0.25s;
}

.disc-fields:hover {
	display: block;
}

.disc-text {
	width: 100%;
}

.disc-name {
	font-size: 1.5rem;
	color: black;
	font-weight: 700;
	text-align: center;
	animation: fade-in ease 1s;
}

.disc-fields {
	font-weight: 600;
	font-size: 1rem;
	display: none;
}

.disc:hover .disc-fields {
	display: block;
	animation: fade-in ease 0.5s;
}

.emoji {
	font-weight: 400;
	font-family: "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla",
		"segoe ui symbol";
}

.spin-in-detail {
	animation: spin-in-detail ease-out 0.5s;
}

.spin-out-detail {
	animation: spin-out-detail ease-in 0.5s;
}

.scroll-to-top {
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	z-index: 80;
	background-color: rgba(221, 221, 221, 0.6);
	border-radius: 50%;
}

.menu-btn {
	position: fixed;
	top: 0.5em;
	left: 0.5em;
	z-index: 80;
	background-color: rgba(221, 221, 221, 0.6);
	border-radius: 50%;
}

.sort-btn {
	z-index: 80;
	background-color: rgba(221, 221, 221, 0.6);
	border-radius: 50%;
	width: fit-content;
	height: fit-content;
}

.sort-btn:hover {
	cursor: pointer;
}

.menu {
	position: fixed;
	top: 4em;
	left: 0.5em;
	z-index: 120;
}

.menu-item:hover {
	background-color: rgba(221, 221, 221, 0.6);
}

.about-dialog {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	text-align: center;
	font-size: 1.25rem;
	color: black;
	user-select: text;
}

.dialog-line {
	padding: 0.5em;
}

.copyright {
	padding-top: 2em;
	font-size: 0.8em;
	color: dimgray;
}

.login-dialog {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	font-size: 1.25rem;
	color: black;
	user-select: text;
	text-align: center;
	min-width: 12em;
}

.login-dialog-item {
	padding-top: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.login-dialog-error {
	color: red;
}

.profile-dialog {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	margin-left: 2em;
	margin-right: 2em;
	font-size: 1.25rem;
	color: black;
	user-select: text;
	text-align: center;
}

.close-btn {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	z-index: 80;
	background-color: rgba(221, 221, 221, 0.6);
	border-radius: 50%;
}

.menu-spacer {
	padding-top: 0.5em;
}

.alert {
	z-index: 100;
	position: fixed;
	top: 0.5em;
	left: 4.5em;
}

@keyframes spin-in {
	0% {
		opacity: 0;
		-ms-transform: rotate(-720deg);
		-webkit-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
	100% {
		opacity: 1;
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes spin-out {
	0% {
		opacity: 1;
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		opacity: 0;
		-ms-transform: rotate(-720deg);
		-webkit-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
}

@keyframes spin-in-detail {
	0% {
		opacity: 0;
		transform-origin: center;
		-ms-transform: translate(-50%, -50%) rotate(-720deg);
		-webkit-transform: translate(-50%, -50%) rotate(-720deg);
		transform: translate(-50%, -50%) rotate(-720deg);
	}
	100% {
		opacity: 1;
		transform-origin: center;
		-ms-transform: translate(-50%, -50%) rotate(0deg);
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

@keyframes spin-out-detail {
	0% {
		opacity: 1;
		transform-origin: center;
		-ms-transform: translate(-50%, -50%) rotate(0deg);
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		opacity: 0;
		transform-origin: center;
		-ms-transform: translate(-50%, -50%) rotate(-720deg);
		-webkit-transform: translate(-50%, -50%) rotate(-720deg);
		transform: translate(-50%, -50%) rotate(-720deg);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
