* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	user-select: none;
}

a:link,
a:visited {
	color: blue;
	text-decoration: none;
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.input {
	margin: 0.5rem;
	width: 20rem;
}

.overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: black;
	transition: 0.5s;
}

.header {
	margin-top: 0.25rem;
	margin: 1rem;
	font-size: 3.5rem;
	font-weight: 600;
	color: inherit;
	text-align: center;
	z-index: 30;
}

.header a:link,
.header a:visited {
	color: inherit;
}

.main {
	overflow: hidden;
	justify-content: center;
	z-index: 10;
	animation: fade-in ease 0.5s;
	transition: 0.5s;
}

.disc-detail {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vmin;
	height: 100vmin;
	max-width: 45rem;
	max-height: 45rem;
	border-radius: 50%;
	z-index: 100;
	transition: 0.3s;
	justify-content: center;
	align-items: center;
}

.disc-detail-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: grid;
	place-items: center;
	justify-content: center;
	width: 55%;
	max-width: 400px;
	height: 85%;
}

.disc-detail-name {
	font-size: min(8vw, 3rem);
	font-weight: 600;
	color: black;
	font-weight: 700;
}

.disc-detail-fields {
	font-weight: 600;
	font-size: min(4vw, 1.5rem);
}

.disc-detail-img img {
	max-width: 400px;
	max-height: 340px;
	border-radius: 10px;
	width: 100%;
}

.disc-grid-count {
	font-size: 1.25rem;
	font-weight: 600;
	width: fit-content;
	margin: 1rem auto;
}

.disc-grid-count:hover {
	cursor: pointer;
}

.disc-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 12rem);
	justify-content: center;
}

.disc-box {
	width: 12rem;
	height: 12rem;
	display: grid;
	place-items: center;
}

.disc {
	width: 11rem;
	height: 11rem;
	border-radius: 50%;
	font-weight: 500;
	text-align: center;
	display: grid;
	place-items: center;
	animation: spin-in ease-out 0.5s;
	z-index: 10;
	transition: 0.25s;
	justify-content: center;
	align-items: center;
}

.disc:hover {
	cursor: pointer;
	width: 11.5rem;
	height: 11.5rem;
	transition: 0.25s;
}

.disc:hover .disc-inner-circle {
	width: 8.5rem;
	height: 8.5rem;
	transition: 0.25s;
}

.disc-fields:hover {
	display: block;
}

.disc-text {
	width: 100%;
}

.disc-name {
	font-size: 1.5rem;
	color: black;
	font-weight: 700;
	text-align: center;
	animation: fade-in ease 1s;
}

.disc-fields {
	font-weight: 600;
	font-size: 1rem;
	display: none;
}

.disc:hover .disc-fields {
	display: block;
	animation: fade-in ease 0.5s;
}

.emoji {
	font-weight: 400;
	font-family: "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla",
		"segoe ui symbol";
}

.spin-in-detail {
	animation: spin-in-detail ease-out 0.5s;
}

.spin-out-detail {
	animation: spin-out-detail ease-in 0.5s;
}

@keyframes spin-in {
	0% {
		opacity: 0;
		transform: rotate(-720deg);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg);
	}
}

@keyframes spin-out {
	0% {
		opacity: 1;
		transform: rotate(0deg);
	}
	100% {
		opacity: 0;
		transform: rotate(-720deg);
	}
}

@keyframes spin-in-detail {
	0% {
		opacity: 0;
		transform-origin: center;
		transform: translate(-50%, -50%) rotate(-720deg);
	}
	100% {
		opacity: 1;
		transform-origin: center;
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

@keyframes spin-out-detail {
	0% {
		opacity: 1;
		transform-origin: center;
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		opacity: 0;
		transform-origin: center;
		transform: translate(-50%, -50%) rotate(-720deg);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
