:root {
	--disc-size: 11rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

a {
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
}

h1 {
	font-size: 3rem;
}

.title {
	margin-top: -0.75rem;
	margin-left: -1rem;
	padding-right: 2rem;
}

.hidden {
	visibility: hidden;
	user-select: none;
}

.scroll-to-top {
	background-color: rgba(221, 221, 221, 0.6);
	border-radius: 50%;
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
}

.scroll-to-top:hover {
	background-color: rgba(221, 221, 221, 0.8);
}

#disc-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, calc(var(--disc-size) + 1rem));
	justify-content: center;
}

.disc-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(var(--disc-size) + 1rem);
	height: calc(var(--disc-size) + 1rem);
}

.disc {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--disc-size);
	height: var(--disc-size);
	border-radius: 50%;
	transition: 0.25s ease-in-out;
	text-align: center;
}

.disc:hover {
	cursor: pointer;
	width: calc(var(--disc-size) + 1rem);
	height: calc(var(--disc-size) + 1rem);
}

.disc-name {
	width: var(--disc-size);
	font-size: calc(var(--disc-size) / 7.2);
	font-weight: 500;
}

.modal {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disc-detail-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

.disc-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 50%;
	width: 100vmin;
	height: 100vmin;
	row-gap: 5vmin;
}

.disc-detail-name {
	font-size: 6vmin;
	font-weight: 500;
}

.disc-detail-info {
	font-size: 3vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 0.75vmin;
}

.disc-detail-img-container {
	width: 44vmin;
	max-width: 400px;
	height: 37.4vmin;
	max-height: 340px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disc-detail-img {
	width: 100%;
	height: 100%;
}

.filters {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 2rem;
	row-gap: 1rem;
	column-gap: 0.5rem;
}

.filter {
	width: 20rem;
}

.disc-count {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.disc-count:hover {
	cursor: pointer;
}

.absolute-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
