:root {
	--disc-size: 11rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

html {
	overflow-y: scroll;
}

body {
	padding: 0.5rem;
}

a {
	text-decoration: none;
	color: #0000ee;
}

a:visited {
	color: #0000ee;
}

h1 {
	font-size: 3rem;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
}

.title {
	margin-top: -0.75rem;
	margin-left: -1rem;
	padding-right: 2rem;
}

.hidden {
	visibility: hidden;
	user-select: none;
}

.settings-btn {
	background-color: rgba(221, 221, 221, 0.6);
	border-radius: 50%;
}

.scroll-to-top {
	background-color: rgba(221, 221, 221, 0.6);
	border-radius: 50%;
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
}

.scroll-to-top:hover {
	background-color: rgba(221, 221, 221, 0.8);
}

#disc-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, calc(var(--disc-size) + 1rem));
	justify-content: center;
}

.disc-grid-bag {
	color: #757575;
	font-size: 1.25rem;
	font-weight: 500;
}

.disc-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(var(--disc-size) + 1rem);
	height: calc(var(--disc-size) + 1rem);
}

.disc {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--disc-size);
	height: var(--disc-size);
	border-radius: 50%;
	transition: 0.25s ease-in-out;
	text-align: center;
}

.disc:hover {
	cursor: pointer;
	width: calc(var(--disc-size) + 1rem);
	height: calc(var(--disc-size) + 1rem);
}

.disc-name {
	width: var(--disc-size);
	font-size: calc(var(--disc-size) / 7.2);
	font-weight: 500;
}

.modal {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disc-detail-container {
	margin: -0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: calc(100vw - 1rem);
	height: 100vh;
}

.disc-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 50%;
	width: 100vmin;
	height: 100vmin;
	row-gap: 4vmin;
}

.disc-detail-name {
	font-size: 6vmin;
	font-weight: 500;
}

.disc-detail-info {
	font-size: 3vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 0.75vmin;
}

.disc-detail-img-container {
	width: 44vmin;
	max-width: 400px;
	height: 37.4vmin;
	max-height: 340px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disc-detail-img {
	width: 100%;
	height: 100%;
}

.disc-detail-not-found {
	font-size: 6vmin;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vmin;
	height: 100vmin;
	border-radius: 50%;
	color: #444444;
	background-color: #cccccc;
	border: 1.5vmin solid #444444;
}

.disc-detail-nav {
	background-color: rgba(221, 221, 221, 0.6);
	border-radius: 50%;
	width: 6vmin;
	height: 6vmin;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filters {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1.5rem;
	row-gap: 1rem;
	column-gap: 0.5rem;
}

.filter {
	width: 20rem;
}

.disc-count-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9rem;
}

.disc-count {
	font-size: 1.25rem;
	font-weight: 500;
}

.disc-count:hover {
	cursor: pointer;
}

.absolute-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.disabled {
	pointer-events: none;
}

.controls {
	margin-bottom: 1rem;
}

.add-bag-btn {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	width: 40px;
}

.selected-view {
	background-color: rgba(221, 221, 221, 0.6);
	outline: 2px solid #757575;
	border-radius: 50%;
	pointer-events: none;
}

.add-bag {
	position: relative;
	background-color: white;
	width: calc(100vw - 2rem);
	max-width: 32rem;
	padding: 3.5rem 1rem 3.5rem 1rem;
	border-radius: 1rem;
	min-width: 240px;
}

.add-bag-title {
	font-size: 2.5rem;
	font-weight: 600;
}

.error {
	color: red;
}

.auth-loading-spinner {
	position: absolute;
	top: 1.25rem;
	left: 1.25rem;
}

.bag-list-item:hover {
	cursor: pointer;
	background-color: rgba(221, 221, 221, 0.6);
}

.add-to-bag-btn {
	background-color: rgba(221, 221, 221, 0.6);
	border-radius: 50%;
	width: 6vmin;
	height: 6vmin;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(108, 108, 108);
}

.add-to-bag-btn:hover {
	cursor: pointer;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
